# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
cso_env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Checkpoints and Databases
checkpoints.sqlite
chroma_db/
*.db
*.sqlite3
*.db-shm
*.db-wal

# Logs
logs/
*.log
*.jsonl
chat_history_log.jsonl

# Mac OS
.DS_Store

# User Specific Exclusions
Technical_Guides/
docs/
database_schema.json
